<!DOCTYPE html>

{% if active_user.is_authenticated %}
<header>
    <div align="right">
        <table>
            <tr><th>{{ active_user.first_name }}</th><th><img src="{{user.profile.avatar}}"></th></tr>
            <tr><td><a href="{% url 'logout' %}">Logout</a></td></tr>
        </table>
    </div>
</header>
{% endif %}

<body>
{% if active_user.is_authenticated %}
<div align="center">
    {% if list_of_markers.count == 0 %}
    <h1>You don't have any PlaceMarkers</h1>
    <p><a href="{% url 'create_marker' %}">Add a PlaceMarker</a></p>
    {% else %}
        {% for marker in list_of_markers %}
        <p>{{marker.marker_name}}<p>
        {% endfor %}
        <p><a href="{% url 'create_marker' %}">Add a PlaceMarker</a></p>
        <p></p>
        <div style="width: 1000px; height: 700px">{{ map | safe }}</div>
    {% endif %}
    
{% else %}
</div>
<div align="center">
    <h1>Hello and welcome to the Places Remember!</h1>
    <p>On this site you can mark places, where you've ever been.</p>
    <p>To continue using this site, please, authorise with VK profile</p>
    <a href="/login/vk-oauth2">Login with VK</a>
</div>
{% endif %}
</body>




